key-firestore.json

# files containing harmfull data
**/[Ss]ecret*

# cache
**/.ipynb_checkpoints/*
**/*.pyc
Site/presentationProjet/__pycache__/__init__.cpython-38.pyc
Site/presentationProjet/__pycache__/admin.cpython-38.pyc
Site/presentationProjet/__pycache__/apps.cpython-38.pyc
Site/presentationProjet/__pycache__/models.cpython-38.pyc
Site/presentationProjet/__pycache__/urls.cpython-38.pyc
Site/presentationProjet/__pycache__/views.cpython-38.pyc
Site/presentationProjet/migrations/__pycache__/__init__.cpython-38.pyc
Site/SOSuicide/__pycache__/__init__.cpython-38.pyc
Site/SOSuicide/__pycache__/settings.cpython-38.pyc
Site/SOSuicide/__pycache__/urls.cpython-38.pyc
Site/SOSuicide/__pycache__/wsgi.cpython-38.pyc
Site/presentationProjet/migrations/__pycache__/__init__.cpython-38.pyc
Site/presentationProjet/__pycache__/views.cpython-38.pyc
Site/presentationProjet/__pycache__/urls.cpython-38.pyc
Site/presentationProjet/__pycache__/models.cpython-38.pyc
Site/presentationProjet/__pycache__/apps.cpython-38.pyc
Site/presentationProjet/__pycache__/admin.cpython-38.pyc
Site/presentationProjet/__pycache__/__init__.cpython-38.pyc
Site/SOSuicide/__pycache__/__init__.cpython-38.pyc
Site/SOSuicide/__pycache__/settings.cpython-38.pyc
Site/SOSuicide/__pycache__/urls.cpython-38.pyc
Site/SOSuicide/__pycache__/wsgi.cpython-38.pyc
