key-firestore.json

Analyse/CleaningData/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Outils/Learning DB/.ipynb_checkpoints/Data_formation-checkpoint.ipynb


# files containing harmfull data
**/[Ss]ecret*

# cache
**/.ipynb_checkpoints/*
**/*.pyc