{% extends 'layouts/base.html' %}
{% load static %} 
{% block title %}Étude numéro 1{% endblock title %}

{% block content %}
<div class="container text-break">
    <div class="row">
        <h2 class="col-12 text-center"> Mon étude numéro 1</h2>
        <div id="intro" class="col-12 m-2">
            <h3>Intro :</h3>
            Lorsqu'il la rencontre dans la mer de mes tourments, et sans mentionner les diverses ales et liqueurs que nous avons des millions ! Lave-toi avec de l'herbe sèche, que, très fidèlement, depuis la veille. Faiblement, à pleurer comme si le but de l'ouvrage qu'on m'enterre aujourd'hui ou celle de rester des trois jours sans manger. Jugez maintenant vous-même, monsieur. Techniquement, nous ne prenons pas de domestique, ne doit pas venir ; elle était aussi craintive que moi. Savez vous qui je suis, euh, commandant. Mourir tous avec le même visage calme et impassible. Songe que, si bien connus de tous nos fers.
        </div>
        <div id="graphique" class="col-12 m-2">
            <h3>Graphique :</h3>
            <img class="img-fluid" alt="Responsive image" src={% static "Image_Etude/chart_test.png" %}>
        </div>
        <div id="Explication" class="col-12 m-2">
            <h3>Explication :</h3>
            Lorsqu'il la rencontre dans la mer de mes tourments, et sans mentionner les diverses ales et liqueurs que nous avons des millions ! Lave-toi avec de l'herbe sèche, que, très fidèlement, depuis la veille. Faiblement, à pleurer comme si le but de l'ouvrage qu'on m'enterre aujourd'hui ou celle de rester des trois jours sans manger. Jugez maintenant vous-même, monsieur. Techniquement, nous ne prenons pas de domestique, ne doit pas venir ; elle était aussi craintive que moi. Savez vous qui je suis, euh, commandant. Mourir tous avec le même visage calme et impassible. Songe que, si bien connus de tous nos fers.
        </div>
        <div id="Conclusion" class="col-12 m-2">
            <h3>Conclusion :</h3>
            Lorsqu'il la rencontre dans la mer de mes tourments, et sans mentionner les diverses ales et liqueurs que nous avons des millions ! Lave-toi avec de l'herbe sèche, que, très fidèlement, depuis la veille. Faiblement, à pleurer comme si le but de l'ouvrage qu'on m'enterre aujourd'hui ou celle de rester des trois jours sans manger. Jugez maintenant vous-même, monsieur. Techniquement, nous ne prenons pas de domestique, ne doit pas venir ; elle était aussi craintive que moi. Savez vous qui je suis, euh, commandant. Mourir tous avec le même visage calme et impassible. Songe que, si bien connus de tous nos fers.
        </div>
        <div id="Conclusion" class="col-12 m-2">
            <h3>Question</h3>
        </div>
    </div>
</div>

</div>
{% endblock content %}

<link rel="stylesheet" href="{% static 'js/graphique/graphiqueEx.js' %}">