{% extends 'layouts/base.html' %}
{% load static %} 
{% block title %}Étude numéro 1{% endblock title %}

{% block content %}
<div class="container text-break">
    <div class="row">


        <h2 class="col-12 text-center">Analyse qualitative d'un tweet suicidaire</h2>
        
        
        <div class="col-md-12 mb-12">
            <!-- ############# Input d'entrée ############# !-->
            <label for="tweet" class="card-title">Entrez votre tweet</label>
            <input class="form-control form-control-sm card-text" value="Job seeking can be incredibly stressful.\n\nIt can make you feel lost.\n\nHurt.\n\nAlone.\n\nNeed I say, depressed.\n\nMany o… https://t.co/XOVbx4fJFQ" type="text" id="tweet" placeholder="Mon tweet">
            <button class="m-3 btn btn-primary" id='analysisTweet'>Analyser mon tweet</button>
        </div>
        
        <div id="intro" class="col-12 m-2">
            <div class="card">
  
                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top" src="https://support.content.office.net/fr-fr/media/c957b99e-083e-4443-afc6-c372ea43ed08.png" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              
                <!-- Card content -->
                <div class="card-body">
              
                  <!-- Title -->
                  <h4 class="card-title">Card title</h4>
                  <!-- Text -->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/graphique/graphiqueEx.js' %}"></script>

{% endblock content %}