{% extends 'layouts/base.html' %}
{% load static %} 
{% block title %}Étude numéro 1{% endblock title %}

{% block content %}
<div class="container text-break">
    <div class="row">


        <h2 class="col-12 text-center m-4">Analyse qualitative d'un tweet suicidaire</h2>
        
        
        <div class="col-md-12 mb-12 m-4">
            <!-- ############# Input d'entrée ############# !-->
            <label for="tweet" class="card-title">Entrez votre tweet</label>
            <input class="form-control form-control-sm card-text" value="Job seeking can be incredibly stressful.\n\nIt can make you feel lost.\n\nHurt.\n\nAlone.\n\nNeed I say, depressed.\n\nMany o… https://t.co/XOVbx4fJFQ" type="text" id="tweet" placeholder="Mon tweet">
            <button class="m-3 btn btn-primary" id='analysisTweet'>Analyser mon tweet</button>
        </div>
        
        <div class="card offset-1 col-5 mr-1 bg-light">
            <div class="card-body">
              <h5 class="card-title">Analyse par thème</h5>
              <h6 class="card-subtitle mb-2 text-muted">Il faut se référer à l'analyse LDA globale</h6>
              <div id="topic">Some quick example text to build on the card title and make up the bulk of the card's content.</div>

            </div>
          </div>
          <div class="card col-5 bg-light">
            <div class="card-body">
              <h5 class="card-title">Analyse par mot</h5>
              <h6 class="card-subtitle mb-2 text-muted">Il faut se référer à l'analyse LDA globale</h6>
              <div id="word"></div>
            </div>
          </div>
          <div class="card offset-1 col-10 mt-2 bg-light">
            <div class="card-body">
              <h5 class="card-title">Analyse par sentiments</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <div id="fee">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
            </div>
          </div>
    </div>
</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/graphique/graphiqueEx.js' %}"></script>

{% endblock content %}